{% extends "main/base.html" %}
{% block title %}Movie Freaks | Most Watched{% endblock %}
{% block content %}
<body style="background-color: black;">
    <div class="container-fluid"
        style="position: fixed; margin: 10px 0px 0px 0px; display: block; cursor: pointer; z-index: 99;">
        {% with messages=get_flashed_messages %}
        {% for msg in messages %}
        <div class="alert" style="position: absolute; color: white;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong style="color: white;">{{msg}}</strong>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    <div class="container-fluid">
        <div>

            <div>
                <h1 style="color: #fff; background-color: black; position: relative; text-align: center;">Most Watched Movies</h1>
                <div class="row" style="margin-left: 3px; margin-right: 3px;">
                    
                    {% for item in sortlist %}
                    {% for i in moviepopup %}
                    {% if item == i.name %}
                    <div class="column3">
                        <div class="zoom"  data-toggle="modal"
                        data-target="#myModalMovies{{i.id}}" title="Click for {{i.name}}'s info" style="cursor: pointer;">
                            <a><img
                                        src="{{i.imgurl}}" alt="Snow"
                                        style="max-width:100%"></a>
                        </div>
                        <p style="color: white; margin: 0px; padding: 0px;">{{i.name}}</p>
                        {% for j in i.genres.split %}
                        <p style="margin: 0px; padding: 0px; float: left; margin-right: 10px;"><a href="/allgenre#{{j}}">
                                {{j}}</a>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                    
                </div>
            </div>
        </div>
    </div>
    {% for sortlistitem in sortlist %}
                    {% for item in moviepopup %}
                    {% if sortlistitem == item.name %}
                    <div class="modal fade" id="myModalMovies{{item.id}}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal"
                                    style="background-color: black; border-radius: 5px; opacity: 1;">&times;</button>
                                <h2 class="modal-title">{{item.name}}</h2>
                                <div class="container-movies">
                                    <a href="/watching/{{item.name}}"><img src="{{item.bigimgurl}}" alt="Snow" loading="lazy"
                                            style="max-width:100%" class="image-movies"></a>
                                    <div class="middle-movies">
                                        <a href="/watching/{{item.name}}"><span class="glyphicon glyphicon-play-circle"
                                                style="font-size: 50px;"></span></a>
                                    </div>
                                </div>
                                <div class="container-fluid" style="margin-bottom: 10px;">
                                    <p style="font-size: 20px; padding: 0px; margin: 0px;">Description:</p>
                                    <p style="color: grey;">{{item.description}}</p>
                                    <div style="margin-top: 40px;">
                                        <div class="modal-responsive-buttons">
                                            <div style="float: left;">{% with a=item.genres.split %}
                                                {% for i in a %}<a href="/allgenre#{{i}}" style="margin: 5px;">
                                                    {{i}}</a>
                                                {% endfor %}
                                                {% endwith %}
                                            </div>
                                            <div style="float: right;" class="modal-stars">
                                                {% if item.rate < "1" %} <i class="fa fa-star-half-full"></i><i
                                                        class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                                        class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                                    {% endif %}
                                                    {% if item.rate <= "2" %} {% if item.rate > "1" %}
                                                        <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                                            class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                                            class="fa fa-star-o"></i>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% if item.rate <= "3" %} {% if item.rate > "2" %}
                                                            <i class="fa fa-star"></i><i class="fa fa-star-half-full"></i><i
                                                                class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                                                class="fa fa-star-o"></i>
                                                            {% endif %}
                                                            {% endif %}
                                                            {% if item.rate <= "4" %} {% if item.rate > "3" %}
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                                                                    class="fa fa-star-o"></i>
                                                                {% endif %}
                                                                {% endif %}
                                                                {% if item.rate <= "5" %} {% if item.rate > "4" %}
                                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                        class="fa fa-star-half-full"></i><i class="fa fa-star-o"></i><i
                                                                        class="fa fa-star-o"></i>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% if item.rate <= "6" %} {% if item.rate > "5" %}
                                                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                            class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                                                            class="fa fa-star-o"></i>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                        {% if item.rate <= "7" %} {% if item.rate > "6" %}
                                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                                class="fa fa-star"></i><i
                                                                                class="fa fa-star-half-full"></i><i
                                                                                class="fa fa-star-o"></i>
                                                                            {% endif %}
                                                                            {% endif %}
                                                                            {% if item.rate <= "8" %} {% if item.rate > "7" %}
                                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                                    class="fa fa-star-o"></i>
                                                                                {% endif %}
                                                                                {% endif %}
                                                                                {% if item.rate <= "9" %} {% if item.rate > "8" %}
                                                                                    <i class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star-half-full"></i>
                                                                                    {% endif %}
                                                                                    {% endif %}
                                                                                    {% if item.rate > "9" %}
                                                                                    <i class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i><i
                                                                                        class="fa fa-star"></i>
                                                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-responsive-buttons">
                                            <a href="{{item.trailer}}" target="_blank"><button class="dropbtn-modal trailer-modal-right"
                                                    style="margin: 2.5px;">Trailer <i class="fa fa-youtube-play"></i>
                                                </button></a>
                                            <a href="/watching/{{item.name}}"><button class="dropbtn-modal play-modal-right"
                                                    style="margin: 2.5px;">Play <i class="fa fa-play"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    {% if item.collection != "None" %}
                                    <h5 class="container-fluid"><strong style="color: white;">{{item.collection}}</strong> collection:
                                    </h5>
                                    <div class="row" style="margin-bottom: 25px;">
                                        {% for obj in moviepopup %}{% if obj.collection == item.collection %}{% if obj.collection != "None" %}{% if obj.name != item.name %}
                                        <div class="column-collection">
                                            <div class="zoom">
                                                <a href="/watching/{{obj.name}}"><img src="{{obj.imgurl}}"
                                                        alt="Snow" style="max-width:100%; border-radius: 6px;" loading="lazy"></a>
                                            </div>
                                            <p style="color: white; margin: 0px; padding: 0px;">{{obj.name}}</p>
                                        </div>
                                        {% endif %}{% endif %}{% endif %}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% endfor %}

</body>
{% endblock %}